
.hero__img{
    display: flex;
    justify-content: center;
    
}
.hero__img img{
    width: 300px;
    margin-top: 8em;
    
}

.hero__tittle{
    color:whitesmoke;
    margin:2.5em;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.795);
    
}

.hero__tittle h1{
    font-family: "Sansita Swashed", sans-serif;
    font-size: 3em;
    text-align: center;
    margin-left: -0.8em;
    margin-bottom: 0.5em;
}

.hero__tittle h2{
    font-family: "poppins", sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-left: -1em;
}







