.menu__icon{
    display: none;
}

.menu__img{
    display: flex;
    justify-content: center;
    
}
.menu__img img{
    width: 300px;
    margin-top: 8em;
    
}

.menu__text{
    font-family: "Sansita Swashed", sans-serif;
    color:whitesmoke;
    margin:2.5em;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.795);
    
}

.menu__text h1{
    font-size: 3em;
    text-align: center;
    margin-left: -0.8em;
    margin-bottom: 0.5em;
}

.menu__text h2{
    font-size: 1.5em;
    text-align: center;
    margin-left: -1em;
}

.menu__end{
    color:rgb(245, 218, 188);
    font-family: "Exo 2", sans-serif;
    text-decoration: underline;
    text-underline-offset: 4px; /* Aumenta o espaço entre a palavra e o sublinhado */
    text-decoration-thickness: 0.2em; /* Adiciona espessura ao sublinhado */
    text-align: center;
    
}

#caixaAcai{
    padding-left: 1em;
    display: none;
}



@media (min-width: 768px) {

    .menu{
        display:grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .menu__img img{
        width: 500px;
        margin: 8em;
    }

    .menu__text h1{
        font-size: 5em;
        text-align: left;
    }

    .menu__text h2{
        font-size: 2em;
        text-align:left;
        margin-left:-2em;
    }
    .menu__end{
        font-size: 2em;
        position: absolute;
        bottom:-5%;
        left:43%;
        text-decoration-thickness: 3px; /* Adiciona espessura ao sublinhado */
        text-underline-offset: 0.3em; /* Aumenta o espaço entre a palavra e o sublinhado */
    }
    .menu__icon{
        display:inline-block;
        position:absolute;
        left:1em;
        top:-2em;
    }
}