
:root{
    --default-prod-font-clr: #754505;
    --title-text-clr: #ffffff;

    --subtitle-text-clr: #500f0fd7;
    --product-shadow: #8a6f5a;
    --default-border-clr: #e46f6f86;

    --default-font: "Poppins", sans-serif;
    --title-font: "Sansita Swashed", cursive;
}

body {
    font-family: var(--default-font);
}

.acai-icon {
    position:absolute;
    z-index: 2;
    transition: transform 0.3s ease;
}

.hero{
    color: var(--default-prod-font-clr);
    margin:auto;
    display: flex;
    flex-direction:column;
    gap: 3rem;
    
}

.hero h2 {
    color: var(--subtitle-text-clr);
    background-color:#f3decd;

    padding: 1em;
    margin-block: 1em;
    margin-left: 1.5em;

    font-size: 1.8em;
    width: 60%;

    border: 3px solid var(--default-border-clr);
    border-radius: 10px;

}

.hero_title{
    margin:auto;
    color: var(--title-text-clr);
    font-family: var(--title-font);
    text-align: center;
    max-width:1200px;
    font-size: 3em;

    padding-top:1em;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    
    text-shadow: 1px 1px 2px var(--default-text-shadow);

    border-bottom: 1px solid var(--title-text-clr);

}

.products-section {
    margin: 0 auto;
    max-width:1200px;

    gap:2.5em;
    padding-bottom:1em;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
}

.products-section img{
    max-width: 250px;
    max-height: 250px;
    margin:0.5em;
    border-radius: 10px;
    box-shadow: 2px 2px 2px var(--product-shadow);

}


.product {
    border: 3px solid var(--default-border-clr);
    max-width: 270px;
    /*background: rgba(255, 255, 255, 0.1);*/
    background: url(imgs/bg-itens.jpg);
    
    border-radius: 15px;
    padding-inline: 0.5em;
    margin-block:1em;
    text-align: center;
    padding-bottom:2em;
    display: flex;
    flex-direction: column;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.product h3 {
    color: #5c2d01;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    margin:0.5em;

}

.product p {
    padding-block:1em;
    padding-inline: 10%;
}

.product ul {
    list-style-type: none;
    padding: 5%;
    font-style: italic;
    
}

.product p, ul {
    font-weight: bold;
}

button{
    display:none;
}
button a{
    color: white;
    text-decoration: none;
}


/* Responsividade */

@media (max-width: 500px){
    .hero h2 {
        text-align: center;
        margin: 0 auto;
    }

}

@media (max-width: 768px){
    .hero_title{
        font-size: 2.5em;

    }

    button{
        display:block;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-bottom:2em;
        padding:2em;
        background: #53013f;
        border:none;
        font-size: 1.2em;
    }

}

@media (max-width: 1200px){
    .products-section {
        justify-content: center;
    }

}