.hero__section {
    text-align: center  ;
}

.hero__img {
    align-items: center;
  
}

.hero__img img {
    width: 300px;
    margin-top: 4em;

}

.hero__tittle {
    color: whitesmoke;
    margin-block: 1em;

}

.hero__tittle h1 {
    font-family: "Sansita Swashed", sans-serif;
    font-size: 3em;
    text-align: center;


    margin-bottom: 0.5em;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.705);
}

.hero__tittle p {
    font-family: "poppins", sans-serif;
    font-size: 1.3em;
    text-align: center;

    white-space: nowrap;
    text-shadow: 1.5px 1px 3px rgba(0, 0, 0, 0.3);
}