* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background da hero  */
.hero {
    /*background-image: url(imgs/fundo-principal.jpg);*/
    height: 100%;
    background-size: cover;
    background-position: center center;

}

nav {
    display: grid;
    width: 85%;
    position: absolute;
    list-style: none;
    margin-top: 3em;
    margin-left:1em;
    font-size: 1em;
    text-align: center;
}

/* configurações da lista de links */
.nav__ul {
    display: flex;
    justify-content: right;
    gap: 4rem;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #fff;
    width: 0;
    height: 2px;
    transition: width 0.3s;
}

.nav__link:hover::after {
    width: 100%;
}

.material-symbols-outlined{
    color: #f5f5f5;
    vertical-align:text-bottom;
    text-align: center;
}

/* Responsabilidade da .hero*/

@media (max-width: 500px) {
    /*Celulares */
    .hero {
        background-image: url(imgs/background/fundo-celular\(300x700\).jpg);
    }
}

@media (min-width: 501px) and (max-width: 1024px) {
    /* Estilos para tablets e telas pequenas */
    .hero{
        background-image: url(imgs/background/fundo-tablets\(850x700\).jpg)
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    /* Estilos para telas médias */
    .hero{
        background-image: url(imgs/background/fundo-principal\(1336\).jpg);
    }
    nav {
        width: 90%;
    }
    .nav__ul {
        gap:6em;
    }
}

@media (min-width: 1441px) {
    /* Estilos para telas grandes */
    .hero{
        background-image: url(imgs/background/fundo-principal.jpg);
    }
    nav {
        width: 90%;
    }
    .nav__ul {
        gap:6em;
    }
}