* {
    margin: 0;
    padding: 0;
}

/* background da hero  */
.hero {
    /*background-image: url(imgs/fundo-principal.jpg);*/
    height: 100%;
    background-size: cover;
    background-position: center center;

}

nav {
    display: grid;
    width: 90%;
    position: absolute;
    list-style: none;
    margin-top: 3em;
    margin-left:1em;
}

/* configurações da lista de links */
.nav__ul {
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #fff;
    width: 0;
    height: 2px;
    transition: width 0.3s;
}

.nav__link:hover::after {
    width: 100%;
}

/* Responsabilidade da .hero*/



@media (max-width: 768px) {
    /*Celulares */
    .hero {
        background-image: url(imgs/background/fundo-principal\(480\).jpg);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablets e telas pequenas */
    .hero{
        background-image: url(imgs/background/fundo-principal\(768\).jpg);
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    /* Estilos para telas médias */
    .hero{
        background-image: url(imgs/background/fundo-principal\(1024\).jpg);
    }
}
@media (min-width: 1441px) {
    /* Estilos para telas grandes */
    .hero{
        background-image: url(imgs/background/fundo-principal.jpg);
    }
}