/* Estiliza o letreiro */
.banner {
    font-family: 'Sansita Swashed', sans-serif;
    /*background-image: linear-gradient(to bottom, white, rgb(245, 230, 230)); */
    color: whitesmoke;
    position: absolute;
    top: 30%;
    /* Move o letreiro para 30% da altura da tela */
    right:10%;
    /* Move o letreiro para 10% da borda direita */
    z-index: 2;
    /* Garante que o letreiro fique acima da sobreposição */
    text-align: left;
    /* Alinha o texto à direita */
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.7);
}

.banner h1 {
    font-size: 5rem;
    font-weight: 500;
    
    white-space: pre-line;
    margin-bottom: 0.5em;
        
    /* Permite quebras de linha no texto */
}

.banner p {
    font: normal normal 2rem 'Exo 2', sans-serif;
}
