* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background_sobre-nos{
    background-image: url(../Projeto_Açaí/imgs/Fundo-sobre-nos-alt.jpg);
    background-size: cover;
    background-position:center;
    height: 10em;
    min-height: 60em;
}


.banner2{
    font-family: 'Exo 2', sans-serif;
    color: whitesmoke;
    top: 30%;
    right:15%;
    z-index: 2;
}

.banner2 h1{
    font-size: 3.5rem;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

    text-decoration: underline;

    margin-bottom: 1em;
    margin-right: 19em;
    
    padding-bottom:0.2em;
    padding-top:-0.2em;
    top:10%;
    left:40%;

    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-style: solid;
    border-color: rgb(170, 124, 39);
    border-left-style: none;
    border-width: 4px;

    background-color:   antiquewhite;
    text-indent: 1em;
    
}
.banner2 ul{
    font-size: 1.2rem;
    font-weight: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    white-space: pre-line;
    margin-left:4em;
    max-width: 40%;
    list-style: square;
}

.strong{ /* Textos em ênfase */
    color: rgb(228, 195, 233);
    color: rgb(233, 226, 131)
}

#deposito { /* Imagem do local depósito */
    width: 400px;
    height: 250px;
    position: absolute;
    left: 65%;
    border-radius: 20px;
    bottom:50%;
    box-shadow: 10px 10px 20px black;
    border-style: solid;
    border-color: rgb(170, 124, 39);
}

#caixa2 { /* Imagem do local caixa2 */
    position: absolute;
    top: 55%;
    left: 55%;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(170, 124, 39);
    box-shadow: 10px 10px 20px black;
}

#caixaAcai2{
    position: absolute;
    top: 0.8%;
    left: 27%;
    z-index: 2;
}