/* Reseta os estilos padrão */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Define a foto de fundo */
.background_menu {
    background-image: url(../Projeto_Açaí/imgs/fundo-principal.jpg);
    /* Substitua 'sua-imagem.jpg' pela URL da sua imagem */
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

/* Adiciona a sobreposição */
.background_menu::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle,transparent,  rgba(0, 0, 0, 0.301));
    z-index: 1;
}

/* Estiliza o menu */
.menu {
    position: absolute;
    top: 50px;
    right: 16em;
    z-index: 2;
    /* Garante que o menu fique acima da sobreposição */
}

 ul {
    font-family: 'Poppins';
    list-style: none;
    display: flex;
    gap: 7em;
}

li {
    display: inline-block;
    margin: 0 10px;
  }
  
a {
    position: relative;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.3em;
    
  }
  
  a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out; /* Anima somente a largura */
    
  }
  
  a:hover::after {
    width: 100%;
  }

#frutaAcai{
    transition: background-color 0.3s ease;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 2;
    width: 80px;
}

#caixaAcai{
  position: absolute;
  top: 3%;
  left: 93%;
  z-index: 2;
  
}

.saiba-mais{ /* Botão Saiba Mais*/
  font: normal 500 1.5em 'Exo 2', sans-serif;
  color: whitesmoke;
  z-index: 2;
  position: absolute;
  top:90%;
  left:45%;
}

.material-symbols-outlined { /* Seta para baixo do lado de "Saiba Mais"*/
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#logoAcai{ /* Logo do Açaí no topo do site*/
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 2;
  size: 1em;
  width: 500px;
}