/* Reseta os estilos padrão */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Define a foto de fundo */
.background {
    background-image: url('imgs/uma\ tigela\ de\ açaí\ na\ esquerda\,\ vista\ de\ cima\,\ sobre\ uma\ mesa\ de\ madeira\ escura_\ 23-12-2024\ at\ 17-03-26.jpeg');
    /* Substitua 'sua-imagem.jpg' pela URL da sua imagem */
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

/* Adiciona a sobreposição */
.background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    /* Ajuste a opacidade para escurecer mais ou menos */
    z-index: 1;
}

/* Estiliza o menu */
.menu {
    
    position: absolute;
    top: 50px;
    right: 16em;
    z-index: 2;
    /* Garante que o menu fique acima da sobreposição */
}

 ul {
    font-family: 'Poppins';
    list-style: none;
    display: flex;
    gap: 7em;
}

li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    position: relative;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.3em;
    
  }
  
  a::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Distância da linha em relação ao texto */
    left: 0; /* Começa na esquerda */
    width: 0; /* Inicialmente invisível */
    height: 2px; /* Altura da borda */
    background-color: white;
    transition: width 0.3s ease-in-out; /* Anima somente a largura */
    
  }
  
  a:hover::after {
    width: 100%; /* Expande a linha */
  }



/* Estiliza o letreiro */
.banner {
    font-family: 'Poppins', sans-serif;
    font-weight: 250;
    /*background-image: linear-gradient(to bottom, white, rgb(245, 230, 230)); */
    color: rgb(245, 230, 230);
    position: absolute;
    top: 30%;
    /* Move o letreiro para 30% da altura da tela */
    right:8%;
    /* Move o letreiro para 10% da borda direita */
    z-index: 2;
    /* Garante que o letreiro fique acima da sobreposição */
    text-align: left;
    /* Alinha o texto à direita */
}

.banner h1 {
    font-weight: 200;
    font-size: 5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    white-space: pre-line;
    /* Permite quebras de linha no texto */
}

.banner p {
    font-size: 2rem;
    text-indent: 20px;
}

.CaixaAcai{
    transition: background-color 0.3s ease;
    position: absolute;
    top: 2%;
    left: 1%;
}